[Unit]
Description=Timer that runs the Adsorber service weekly.
Documentation=https://github.com/stablestud/adsorber
Requires=network-online.target

[Timer]
OnCalendar=#@frequency@#
RandomizedDelaySec=600
Persistent=true
Unit=adsorber.service

[Install]
WantedBy=timers.target
